
{{ if .Site.Params.readCounteribusuanzi }}
            <!-- 引入计数器 -->
    <!-- 参考: http://busuanzi.ibruce.info/ -->
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js">
</script>
<!--     <span id="busuanzi_container_site_pv">
        本站总访问量<span id="busuanzi_value_site_pv"></span>次;
    </span>
    <span id="busuanzi_container_site_uv" style="display: inline;">
        本站访客数<span id="busuanzi_value_site_uv"></span>人次;
    </span> -->
    <span id="busuanzi_container_page_pv">
        本文总阅读量<span id="busuanzi_value_page_pv"></span>次;
    </span>
{{ end }}


{{ if .Site.Params.readCounterValine }}
<span id="{{ .RelPermalink }}" class="leancloud_visitors" data-flag-title="{{ .Title }}">
  <span class="post-meta-item-text">文章总阅读量 </span>
  <span class="leancloud-visitors-count"><i class="leancloud-visitors-count"></i></span>次;
  <p></p>
</span>
{{ end }}

